/* Page-specific styling */

#details {
    margin-left: 15px;
    margin-right: 15px;
}

    #details th {
        text-align: left;
        padding-right: 10px;
    }

#from {
    cursor: pointer;
    color: #336699;
}

    #from:focus, #from:hover, #from:active {
        color: #4ea2df;
    }

.block {
  padding: 8px 4px 0 4px;
  border: 0px black solid;
  text-align: left;
  color: darkgray;
  /*background-color: gray;*/
}

.hidden {
    display: none;
}